body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: #51463a;
 
}

nav {
  margin-top: 10px;
  margin: auto;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 400;

}

.navLink {
  margin-top: 30px;
  margin: 2px;
  padding: 5px;
  color: #51463a;
  font-weight: 400;

}


.homeLogo {
  height: 300px;
  
}

.homePg {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

a {
  color: #51463a;
  font-weight: 500;

}


.dashContainer{
  min-width: 100vw;
  max-width: 1366px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
h3{
  font-weight: 500;
}

hr{
  size: 40px;
  width: 150px;
  color: blue;
  
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
.beans {
  height: 80vh;
  width: 80vw;
  z-index: 1;

  position:relative; 
}
.overBeans{
  text-align: center;
  z-index: 2;
  position:absolute; 
  height: 80vh;
  width: 40vw;
  padding-top: 175px;
}

.submitButton {
  background: white;
  border-radius: 8px 8px 8px 8px;
  border-width: 0ch;
  border-color: rgb(180, 180, 180);
  font-family: Jost;
  font-size: 20px;
  color: rgb(92, 92, 92);
  margin-bottom: 20px;
}


/* -------------------------column 1 widgets---------------------------- */

.themePanel{
  
  height: 50px;
  display: flex;
  align-items: center;
}

.coffee{
  height: 35px;
  width: 35px;
  background: rgb(218, 218, 218);
  border-radius: 50%;
  margin: 2px;
}
.acqua{
  height: 35px;
  width: 35px;
  background: rgb(37, 128, 151);
  border-radius: 50%;
  margin: 2px;
}
.coral{
  height: 35px;
  width: 35px;
  background: rgb(228, 96, 136);
  border-radius: 50%;
  margin: 2px;
}

.titleWidgPanel{
  font-weight: 500;
  margin: 0;
  padding-bottom: 0;
}


.widgetIcons {
  height: 10vh;  
}
.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items:left;
  width: 15%;
  
}
.iconPanel{
  margin: 2%;
  display: flex;
  flex-direction: column;
  background: rgb(229, 229, 229);
  height: 70vh;
  width: 90%;
  justify-content: center;
  border-radius: 0px 50px 50px 0px;
  align-items: center;
  box-shadow: 5px 5px 15px 5px rgb(207, 207, 207);
  overflow: auto;


}

/* --------------column 2 widgets & news (2 rows)------------------- */

/* row 1 */
.columnCenterContainer {
  display: flex;
  flex-direction: column;
  
  align-items:center;
  width: 70%;
  
}
.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30vh;
  width: 70vw;
  background: rgb(240, 239, 239);
  padding: 10px;
  margin: 10px;
  margin-bottom: 10px;
  
  
}
.widgeDash{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.widget {
  height: 250px;
  width: 320px;
  
}


/* row 2 */
.rowTwoContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
 
  height: 70vh;
  overflow: auto;


}

.newsContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  width: 100vw;
  max-width: 1033px;
  height: 40vh;
  overflow: scroll;
  float: center;
  


}

.searchBar {
  align-items: left;
  height: 30px;
  width: 200px;
  margin: 20px;
  float: left;
  z-index: 1;
  border: 0;
  border-bottom: 4px solid rgba(234, 192, 162);

}


.news{
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(240, 239, 239);
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 15px 5px rgb(192, 192, 192);
  

}
.articleImg {

  height: 150px;
  width: 150px;
  margin: 20px;
}

.DeleteBttn {
  height: 25px;
  width: 25px;
  background: rgb(243, 101, 101);
  border-radius: 50%;
  border-width: 0ch;
  margin: -5px;
  padding: 0px;
  border-color: rgb(180, 180, 180);
  font-family: Jost;
  font-size: 20px;
  color: rgb(92, 92, 92);
  margin-bottom: 20px;
  z-index: 1;
  font-size: 12px;
}



/* -----------------------column 3 media badges-------------------------- */


/* .columnRightContainer {
  display: flex;
  flex-direction: column;
 
  align-items: right;
  align-content: right;
  
  width: 15%;
 
  
} */
button {
  background: white;
  border-radius: 8px 8px 8px 8px;
  border-width: 0ch;
  border-color: rgb(180, 180, 180);
  font-family: Jost;
  font-size: 20px;
  color: rgb(92, 92, 92);
  margin-bottom: 20px;
}
.widgetIcons {
  width: 6vh;  
  height: 6vh;  
  padding: 10px;
}
.widgetMIcons {
  height: 5vh;  
  padding: 10px;
}

.iconMediaPanel{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  background: rgb(229, 229, 229);
  height: 70%;
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 5px 5px 15px 5px rgb(192, 192, 192);

}




.loader {
  height: 40vmin;
  pointer-events: none;
  z-index: 1;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 9s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer{
  
  z-index: 2;
  position: absolute;
}

