body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* height: 120vh;
  width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* justify-content: center; */
  /* color: #51463a; */
 
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  position: relative;
  
}
.beans {
  height: 80vh;
  width: 80vw;
  z-index: 1;

  position:relative; 
}
.overBeans{
  justify-content: center;
  text-align: center;
  z-index: 2;
  position:absolute; 
  height: 65vh;
  width: 40vw;
  /* padding-top: 175px; */
}

.transition {
  transform: scale(.2);
}

nav {
  margin-top: 10px;
  margin: auto;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  z-index: 3;

}

.navLink {
  margin-top: 30px;
  margin: 2px;
  padding: 5px;
  color: #51463a;
  font-weight: 400;
  z-index: 4;


}


.homeLogo {
  height: 300px;
  
}

.homePg {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;


}

a {
  color: #51463a;
  font-weight: 500;

}


.dashContainer{
  min-width: 100vw;
  max-width: 1366px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
h3{
  font-weight: 500;
}

hr{
  size: 40px;
  width: 150px;
  color: rgb(32, 32, 32);
  
}



.submitButton {
  background: white;
  border-radius: 8px 8px 8px 8px;
  border-width: 0ch;
  border-color: rgb(180, 180, 180);
  font-family: Jost;
  font-size: 20px;
  color: rgb(92, 92, 92);
  margin-bottom: 20px;
}

.form {
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  height: 35vh;
  width: 30vw;
  box-shadow: -2px -6px 15px #fff, 2px 6px 15px rgba(0, 0, 0, 0.15);
  padding: 10px;
 
}
.formContent {
  flex-direction: column;
  align-items: right;
  text-align: right;
  justify-content: space-evenly;
  padding-right: 100px;
}

.input {
  margin: 10px;
  font-family: Jost;
  font-size: 18px;
  border: 0ch;
  background-color: #E8F0FE;
  color: #51463a;
  color: rgb(148, 228, 201);
  
}
label {
font-size: 16px;
}


/* -------------------------column 1 widgets---------------------------- */

/* themePanel */

.coffee{
  height: 20px;
  width: 20px;
  background: rgb(218, 218, 218);
  border-radius: 50%;
  margin: 2px;
}
.acqua{
  height: 20px;
  width: 20px;
  background: rgb(37, 128, 151);
  border-radius: 50%;
  margin: 2px;
}
.coral{
  height: 20px;
  width: 20px;
  background: rgb(236, 163, 185);
  border-radius: 50%;
  margin: 2px;
}
.lemon{
  height: 20px;
  width: 20px;
  background: rgb(255, 239, 92);
  border-radius: 50%;
  margin: 2px;
}
.abstract{
  height: 20px;
  width: 20px;
  background: rgb(216, 142, 93);
  border-radius: 50%;
  margin: 2px;
}
.darkmode{
  height: 20px;
  width: 20px;
  background: rgb(78, 71, 71);
  border-radius: 50%;
  margin: 2px;
}
.summer{
  height: 20px;
  width: 20px;
  background: rgb(32, 221, 142);
  border-radius: 50%;
  margin: 2px;
}

.titleWidgPanel{
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
  padding-bottom: 0;
}


.widgetIcons {
  height: 10vh;  
}
.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items:left;
  width: 15%;
  
}
/* iconPanel */

/* --------------column 2 widgets & news (2 rows)------------------- */

/* row 1 */
.columnCenterContainer {
  display: flex;
  flex-direction: column;
  
  align-items:center;
  width: 50%;
  
}
/* rowContainer  */

.widgeDash{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.widget {
  height: 250px;
  width: 320px;
  z-index: 1;
  
}


/* row 2 */


.newsContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  width: 100vw;
  max-width: 1033px;
  height: 40vh;
  overflow: scroll;
  float: center;
  


}

/* searchBar  */

/* news */

.articleImg {

  height: 140px;
  width: 210px;
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: bottom;

}

/* DeleteBttn  */



/* -----------------------column 3 media badges-------------------------- */


button {
  background: white;
  border-radius: 8px 8px 8px 8px;
  border-width: 0ch;
  border-color: rgb(180, 180, 180);
  font-family: Jost;
  font-size: 20px;
  color: rgb(92, 92, 92);
  margin-bottom: 20px;
}
.widgetIcons {
  width: 6vh;  
  height: 6vh;  
  padding: 10px;
}
.widgetMIcons {
  height: 5vh;  
  padding: 10px;
}

/* iconMediaPanel */


/*--------------------Wellness Page------------------ */




.loader {
  height: 30vmin;
  pointer-events: none;
  z-index: 1;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 9s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer{

  z-index: 2;
  position: relative;
}

